<h1>見た映画を記録するサービスです。</h1>
<p>Railsの学習用です。</p>

<% if current_user.nil? %>
<p>
    <%= link_to '登録', new_user_registration_path, class: 'btn btn-default' %>
    |&nbsp;
    <%= link_to 'ログイン', new_user_registration_path, class: 'btn btn-default' %>
</p>
<% else %>

<%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-default', method: :delete %>
<% end %>